In [1]:
# Include required libs
from sklearn.preprocessing import StandardScaler
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.externals import joblib
import matplotlib.pyplot as plt
import os
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import datasets
from sklearn import metrics
import random
from sklearn import preprocessing
import scipy
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
def load_train_and_test_data():
    train_features=pd.read_csv('TrainingSetValues.csv',parse_dates=True)
    train_labels=pd.read_csv('TrainingSetLabels.csv')
    to_predict_features=pd.read_csv('TestSetValues.csv',parse_dates=True)
    
    # merge training features and labels
    #training_data = pd.merge(train_features, train_labels, how='inner', on=['id'])
    
    return train_features, train_labels, to_predict_features

In [3]:
df_training_data, df_training_labels, df_topredict_data = load_train_and_test_data()

In [4]:
# Convert string labels to numerics
#label_map = {"functional": 1, "functional needs repair": 2, "non functional": 3}
#df_training_data['status_group_num']= df_training_data['status_group'].map(label_map).astype(int)

# do sanity check
#df_training_data[['id', 'amount_tsh', 'status_group', 'status_group_num']].head(25)

In [5]:
# save the training labels into a df
#df_training_labels_str = df_training_data['status_group']
#df_training_labels_num = np.array(df_training_data['status_group_num'])

In [6]:
# drop the training labels from the training set
#df_training_data= df_training_data.drop('status_group', axis = 1)
#df_training_data= df_training_data.drop('status_group_num', axis = 1)

In [7]:
print("*****************************************\nBrief Stats of each column\n*****************************************")
print(df_training_data.describe())

#getting number of nonzeros in each column
print("\n*****************************************\nnumber of nonzeros in each column\n*****************************************")
print(df_training_data.astype(bool).sum(axis=0))

# getting no. of nulls in each column
print("\n*****************************************\nno. of nulls in each column\n*****************************************")
print(df_training_data.isnull().sum())

*****************************************
Brief Stats of each column
*****************************************
                 id     amount_tsh    gps_height     longitude      latitude  \
count  59400.000000   59400.000000  59400.000000  59400.000000  5.940000e+04
mean   37115.131768     317.650385    668.297239     34.077427 -5.706033e+00
std    21453.128371    2997.574558    693.116350      6.567432  2.946019e+00
min        0.000000       0.000000    -90.000000      0.000000 -1.164944e+01
25%    18519.750000       0.000000      0.000000     33.090347 -8.540621e+00
50%    37061.500000       0.000000    369.000000     34.908743 -5.021597e+00
75%    55656.500000      20.000000   1319.250000     37.178387 -3.326156e+00
max    74247.000000  350000.000000   2770.000000     40.345193 -2.000000e-08

        num_private   region_code  district_code    population  \
count  59400.000000  59400.000000   59400.000000  59400.000000
mean       0.474141     15.297003       5.629747    179.909983
std       12.236230     17.587406       9.633649    471.482176
min        0.000000      1.000000       0.000000      0.000000
25%        0.000000      5.000000       2.000000      0.000000
50%        0.000000     12.000000       3.000000     25.000000
75%        0.000000     17.000000       5.000000    215.000000
max     1776.000000     99.000000      80.000000  30500.000000

       construction_year
count       59400.000000
mean         1300.652475
std           951.620547
min             0.000000
25%             0.000000
50%          1986.000000
75%          2004.000000
max          2013.000000

*****************************************
number of nonzeros in each column
*****************************************
id                       59399
amount_tsh               17761
date_recorded            59400
funder                   59400
gps_height               38962
installer                59400
longitude                57588
latitude                 59400
wpt_name                 59400
num_private                757
basin                    59400
subvillage               59400
region                   59400
region_code              59400
district_code            59377
lga                      59400
ward                     59400
population               38019
public_meeting           54345
recorded_by              59400
scheme_management        59400
scheme_name              59400
permit                   41908
construction_year        38691
extraction_type          59400
extraction_type_group    59400
extraction_type_class    59400
management               59400
management_group         59400
payment                  59400
payment_type             59400
water_quality            59400
quality_group            59400
quantity                 59400
quantity_group           59400
source                   59400
source_type              59400
source_class             59400
waterpoint_type          59400
waterpoint_type_group    59400
dtype: int64

*****************************************
no. of nulls in each column
*****************************************
id                           0
amount_tsh                   0
date_recorded                0
funder                    3635
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
dtype: int64

In [9]:
# impute median values for 0 amount_tsh
def impute_missing_amount_tsh(df):
    df.amount_tsh[df.amount_tsh <= 0] = np.median(df.amount_tsh[df.amount_tsh > 0])
    return df

In [10]:
# impute median values for 0 gps height
def impute_missing_gps_height(df):
    df.gps_height[df.gps_height <= 0] = np.median(df.gps_height[df.gps_height > 0])
    return df

In [11]:
# impute median values for 0 population
def impute_missing_population(df):
    df.population[df.population <= 0] = np.median(df.population[df.population > 0])
    return df

def impute_missing_population1(df):
    df.population[df.population <= 0] = "NA"
    df.population[df.population >= 2 & df.population <=40] = "A"
    df.population[df.population >= 41 & df.population <=67] = "B"
    df.population[df.population >= 68 & df.population <=99] = "C"
    df.population[df.population >= 100 & df.population <=131] = "D"
    df.population[df.population >= 132 & df.population <=175] = "E"
    df.population[df.population >= 176 & df.population <=219] = "F"
    df.population[df.population >= 220 & df.population <=259] = "G"
    df.population[df.population >= 260 & df.population <=349] = "H"
    df.population[df.population >= 350 & df.population <=448] = "I"
    df.population[df.population >= 449 & df.population <=598] = "L"
    df.population[df.population >= 599 & df.population <=1290] = "M"
    df.population[df.population >= 1300] = "N"
    return df

In [12]:
# impute median values for construction year
def impute_missing_construction_year(df):
    df.construction_year[df.construction_year <= 0] = np.median(df.construction_year[df.construction_year > 0])
    return df

In [13]:
# impute missing booleans with false and convert each value to float or integer
def impute_missing_booleans(df, colname):
    df[colname].fillna(False, inplace = True)
    df[colname] = df[colname].apply(lambda x: float(x))
    return df

In [14]:
def dates(X_train, X_test):
    """
    date_recorded: this might be a useful variable for this analysis, although the year itself would be useless 
    in a practical scenario moving into the future. 
    We will convert this column into a datetime, and we will also 
    create 'year_recorded' and 'month_recorded' columns just in case those levels prove to be useful. 
    A visual inspection of both casts significant doubt on that possibility, but we'll proceed for now. 
    We will delete date_recorded itself, since random forest cannot accept datetime
    """
    for i in [X_train, X_test]:
        i['date_recorded'] = pd.to_datetime(i['date_recorded'])
        i['year_recorded'] = i['date_recorded'].apply(lambda x: x.year)
        i['month_recorded'] = i['date_recorded'].apply(lambda x: x.month)
        i['date_recorded'] = (pd.to_datetime(i['date_recorded'])).apply(lambda x: x.toordinal())
    return X_train, X_test

In [15]:
def dates2(X_train, X_test):
    """
    Turn year_recorded and month_recorded into dummy variables
    """
    for z in ['month_recorded', 'year_recorded']:
        X_train[z] = X_train[z].apply(lambda x: str(x))
        X_test[z] = X_test[z].apply(lambda x: str(x))
        good_cols = [z+'_'+i for i in X_train[z].unique() if i in X_test[z].unique()]
        X_train = pd.concat((X_train, pd.get_dummies(X_train[z], prefix = z)[good_cols]), axis = 1)
        X_test = pd.concat((X_test, pd.get_dummies(X_test[z], prefix = z)[good_cols]), axis = 1)
        del X_test[z]
        del X_train[z]
    return X_train, X_test

In [16]:
def locs(X_train, X_test):
    """
    fill in the nulls for ['longitude', 'latitude', 'gps_height', 'population'] by using means from 
    ['subvillage', 'district_code', 'basin'], and lastly the overall mean
    """
    trans = ['longitude', 'latitude', 'gps_height', 'population']
    for i in [X_train, X_test]:
        i.loc[i.longitude == 0, 'latitude'] = 0
    for z in trans:
        for i in [X_train, X_test]:
            i[z].replace(0., np.NaN, inplace = True)
            i[z].replace(1., np.NaN, inplace = True)
        
        for j in ['subvillage', 'district_code', 'basin']:
        
            X_train['mean'] = X_train.groupby([j])[z].transform('mean')
            X_train[z] = X_train[z].fillna(X_train['mean'])
            o = X_train.groupby([j])[z].mean()
            fill = pd.merge(X_test, pd.DataFrame(o), left_on=[j], right_index=True, how='left').iloc[:,-1]
            X_test[z] = X_test[z].fillna(fill)
        
        X_train[z] = X_train[z].fillna(X_train[z].mean())
        X_test[z] = X_test[z].fillna(X_train[z].mean())
        del X_train['mean']
    return X_train, X_test

In [17]:
# function to drop from a dataframe
def drop_columns(df, cols_to_drop):
    for col in cols_to_drop:
        del df[col]
    return df

In [18]:
def gini(p):
    return 1-(p**2 + (1-p)**2)

In [19]:
def small_n2(X_train, X_test):
    cols = [i for i in X_train.columns if type(X_train[i].iloc[0]) == str]
    X_train[cols] = X_train[cols].where(X_train[cols].apply(lambda x: x.map(x.value_counts())) > 100, "other")
    for column in cols:
        for i in X_test[column].unique():
            if i not in X_train[column].unique():
                X_test[column].replace(i, 'other', inplace=True)
    return X_train, X_test

In [20]:
def lda(X_train, X_test, y_train, cols=['population', 'gps_height', 'latitude', 'longitude']):
    sc = StandardScaler()
    X_train_std = sc.fit_transform(X_train[cols])
    X_test_std = sc.transform(X_test[cols])
    lda = LDA(n_components=None)
    X_train_lda = lda.fit_transform(X_train_std, y_train.values.ravel())
    X_test_lda = lda.transform(X_test_std)
    X_train = pd.concat((pd.DataFrame(X_train_lda), X_train), axis=1)
    X_test = pd.concat((pd.DataFrame(X_test_lda), X_test), axis=1)
    for i in cols:
        del X_train[i]
        del X_test[i]
    return X_train, X_test

In [21]:
#def one_hot_encode(X_train, X_test):
#    columns = [i for i in X_train.columns if type(X_train[i].iloc[0]) == str]
#    for column in columns:
#        X_train[column].fillna('NULL', inplace = True)
#        good_cols = [column+'_'+i for i in X_train[column].unique() if i in X_test[column].unique()]
#        X_train = pd.concat((X_train, pd.get_dummies(X_train[column], prefix = column)[good_cols]), axis = 1)
#        X_test = pd.concat((X_test, pd.get_dummies(X_test[column], prefix = column)[good_cols]), axis = 1)
#        del X_train[column]
#        del X_test[column]
#    return X_train, X_test
#

In [22]:
def one_hot_encode(df_train, df_test):
    columns = [i for i in df_train.columns if type(df_train[i].iloc[0]) == str]
    for column in columns:
        df_train[column].fillna('NULL', inplace = True)
        ohe_cols = [column+'_'+i for i in df_train[column].unique() if i in df_test[column].unique()]
        df_train = pd.concat((df_train, pd.get_dummies(df_train[column], prefix = column)[ohe_cols]), axis = 1)
        df_test = pd.concat((df_test, pd.get_dummies(df_test[column], prefix = column)[ohe_cols]), axis = 1)
        del df_train[column]
        del df_test[column]
    return df_train, df_test

In [23]:
def one_hot_encode1(df):
    columns = [x for x in df.columns if type(df[x].iloc[0]) == str]
    for column in columns:
        df[column].fillna('NULL', inplace = True)
        ohe_cols = [column + '_' + x for x in df[column].unique() if x in df[column].unique()]
        df = pd.concat((df, pd.get_dummies(df[column], prefix = column)[ohe_cols]), axis = 1)
        del df[column]
    return df

In [24]:
def analyze_unique_values_for_column(df, colname):
    unique_col_vals = df[colname].unique()
    tmp_str = "Unique " + colname + "s:"
    print("****************************")
    print(tmp_str, unique_col_vals.size)
    print("****************************")

In [25]:
analyze_unique_values_for_column(df_training_data, "funder")
analyze_unique_values_for_column(df_training_data, "installer")
analyze_unique_values_for_column(df_training_data, "wpt_name")
analyze_unique_values_for_column(df_training_data, "basin")
analyze_unique_values_for_column(df_training_data, "subvillage")
analyze_unique_values_for_column(df_training_data, "region")
analyze_unique_values_for_column(df_training_data, "region_code")
analyze_unique_values_for_column(df_training_data, "district_code")
analyze_unique_values_for_column(df_training_data, "lga")
analyze_unique_values_for_column(df_training_data, "ward")
analyze_unique_values_for_column(df_training_data, "recorded_by")
analyze_unique_values_for_column(df_training_data, "scheme_management")
analyze_unique_values_for_column(df_training_data, "scheme_name")
analyze_unique_values_for_column(df_training_data, "extraction_type")
analyze_unique_values_for_column(df_training_data, "extraction_type_group")
analyze_unique_values_for_column(df_training_data, "extraction_type_class")
analyze_unique_values_for_column(df_training_data, "management")
analyze_unique_values_for_column(df_training_data, "management_group")
analyze_unique_values_for_column(df_training_data, "management_group")
analyze_unique_values_for_column(df_training_data, "payment")
analyze_unique_values_for_column(df_training_data, "payment_type")
analyze_unique_values_for_column(df_training_data, "management_group")
analyze_unique_values_for_column(df_training_data, "water_quality")
analyze_unique_values_for_column(df_training_data, "quality_group")
analyze_unique_values_for_column(df_training_data, "quantity")
analyze_unique_values_for_column(df_training_data, "quantity_group")
analyze_unique_values_for_column(df_training_data, "source")
analyze_unique_values_for_column(df_training_data, "source_type")
analyze_unique_values_for_column(df_training_data, "source_class")
analyze_unique_values_for_column(df_training_data, "source_class")
analyze_unique_values_for_column(df_training_data, "waterpoint_type")
analyze_unique_values_for_column(df_training_data, "waterpoint_type_group")

****************************
Unique funders: 1898
****************************
****************************
Unique installers: 2146
****************************
****************************
Unique wpt_names: 37400
****************************
****************************
Unique basins: 9
****************************
****************************
Unique subvillages: 19288
****************************
****************************
Unique regions: 21
****************************
****************************
Unique region_codes: 27
****************************
****************************
Unique district_codes: 20
****************************
****************************
Unique lgas: 125
****************************
****************************
Unique wards: 2092
****************************
****************************
Unique recorded_bys: 1
****************************
****************************
Unique scheme_managements: 13
****************************
****************************
Unique scheme_names: 2697
****************************
****************************
Unique extraction_types: 18
****************************
****************************
Unique extraction_type_groups: 13
****************************
****************************
Unique extraction_type_classs: 7
****************************
****************************
Unique managements: 12
****************************
****************************
Unique management_groups: 5
****************************
****************************
Unique management_groups: 5
****************************
****************************
Unique payments: 7
****************************
****************************
Unique payment_types: 7
****************************
****************************
Unique management_groups: 5
****************************
****************************
Unique water_qualitys: 8
****************************
****************************
Unique quality_groups: 6
****************************
****************************
Unique quantitys: 5
****************************
****************************
Unique quantity_groups: 5
****************************
****************************
Unique sources: 10
****************************
****************************
Unique source_types: 7
****************************
****************************
Unique source_classs: 3
****************************
****************************
Unique source_classs: 3
****************************
****************************
Unique waterpoint_types: 7
****************************
****************************
Unique waterpoint_type_groups: 6
****************************

In [26]:
def analyze_in_detail_unique_values_for_column(df, colname):
    unique_col_vals = df[colname].unique()
    tmp_str = "Unique " + colname + "s:"
    print("****************************")
    print(tmp_str, unique_col_vals.size)
    print("****************************")
    lessthan10 = 0
    lessthan20 = 0
    lessthan30 = 0
    lessthan50 = 0
    lessthan100 = 0
    for val in unique_col_vals:
        cnt = df[df[colname] == val][colname].count()
        print(val, cnt) # uncomment this line if you want to see the count of each colname-value
        if(cnt < 10):
            lessthan10 +=1     
            print(val, cnt)
        elif(cnt < 20):
            lessthan20 +=1
        elif(cnt < 30):
            lessthan30 +=1
        elif(cnt < 50):
            lessthan50 +=1

    print("lessthan50: ", lessthan50 )
    print("lessthan30: ", lessthan30 )
    print("lessthan20: ", lessthan20 )
    print("lessthan10: ", lessthan10 )
    print("****************************")

In [27]:
analyze_in_detail_unique_values_for_column(df_training_data, "population")

****************************
Unique populations: 1049
****************************
109 19
280 104
250 1681
58 25
0 21381
1 7025
345 29
200 1940
35 245
50 1139
1000 278
4 13
350 986
210 209
156 61
140 215
260 125
150 1892
180 183
70 209
100 1146
230 388
30 626
20 462
10 163
45 205
456 21
567 5
130 264
225 52
54 19
75 289
900 70
360 222
544 1
441 1
120 916
40 552
221 9
950 64
1430 3
110 64
256 66
320 249
90 265
804 1
600 438
370 56
305 8
1600 23
400 775
590 18
450 499
80 533
560 106
2500 56
1050 12
36 57
540 110
300 1476
12 43
632 5
245 47
32 17
59 15
25 255
500 1009
570 22
700 192
111 1
630 54
270 72
55 116
1700 7
800 269
87 9
2530 8
86 99
96 112
240 154
203 22
215 48
98 77
160 127
1200 168
309 4
95 44
60 706
85 70
159 8
65 175
48 22
2150 3
1013 2
220 74
1680 1
375 11
2000 130
125 113
3226 5
253 27
88 10
820 11
133 5
650 177
163 10
430 53
290 34
2100 17
285 17
425 11
155 22
1500 190
185 33
368 6
115 21
520 69
406 1
970 2
52 32
750 153
380 80
123 59
730 3
105 43
452 11
1320 5
14 18
261 8
82 5
550 101
393 3
348 2
89 61
412 7
530 66
386 4
278 6
212 16
340 77
568 5
418 1
56 150
516 1
6922 30
183 11
6 19
980 14
263 14
480 52
1250 29
8 23
321 15
420 162
620 42
5153 6
2353 1
440 7
1015 1
269 17
44 10
174 7
323 5
233 7
258 31
152 10
42 29
358 19
211 13
855 2
1020 6
15 193
69 25
145 62
22 9
246 10
99 17
137 2
124 11
680 30
740 30
333 2
1180 1
53 59
355 10
1041 15
390 39
265 17
465 9
1632 1
1360 1
182 11
2395 1
356 27
580 37
453 10
46 7
471 1
284 3
9 11
819 1
1506 1
68 28
132 19
369 12
235 40
144 11
591 3
103 8
335 11
875 2
812 5
195 27
5 44
315 16
685 6
548 3
554 3
860 21
83 9
2200 6
3200 6
1070 1
415 6
455 7
850 60
1650 7
222 3
2800 6
330 36
670 11
780 15
608 3
162 6
357 5
1570 4
231 19
135 39
114 7
531 4
57 15
234 21
101 4
170 72
1530 4
134 11
67 7
176 9
610 12
154 14
26 11
2013 1
204 6
213 19
405 9
236 20
239 7
532 8
64 5
458 7
1140 2
153 30
4100 1
126 30
205 35
1740 1
2300 15
749 1
190 50
1850 4
802 3
1400 32
595 3
217 7
23 27
365 21
168 16
1009 2
139 3
97 6
2698 1
143 15
198 11
84 12
810 5
640 12
445 15
634 4
954 2
17 6
1220 2
72 21
5030 1
720 19
579 2
295 13
341 8
563 13
310 31
76 25
1040 1
107 3
338 5
1100 19
840 16
189 17
413 5
352 10
423 16
325 42
4005 2
679 3
1750 4
896 3
1800 24
3500 22
710 3
61 4
385 14
362 6
3020 2
690 7
4500 9
460 23
459 5
397 3
4000 26
157 5
206 10
475 11
346 4
268 11
186 11
164 3
1161 1
779 1
3127 1
3000 41
354 9
38 9
542 3
656 1
897 4
181 3
259 12
890 17
769 9
63 31
759 1
94 5
7500 3
367 10
119 2
863 4
512 5
5000 20
255 19
243 9
49 9
396 9
654 3
6000 15
102 22
254 21
374 3
1450 10
264 9
6500 7
1520 4
1486 1
574 1
266 11
313 3
432 8
569 7
241 20
602 1
1160 1
209 8
653 7
165 22
4900 1
2 4
1177 1
628 1
81 2
106 6
108 21
487 3
175 51
158 5
483 3
267 4
7000 2
543 7
3110 3
219 9
603 2
1900 7
4210 1
149 13
16 8
2445 4
271 4
142 12
251 8
1540 4
410 25
736 1
1930 1
117 6
857 2
39 3
286 11
490 22
147 5
299 1
3981 1
66 5
302 8
960 14
502 4
128 8
956 2
298 7
188 8
510 14
29 7
146 15
830 10
324 16
1903 2
79 13
842 1
192 8
1440 1
312 17
495 6
274 4
1226 1
616 3
825 4
513 3
1230 14
293 1
488 8
2210 1
167 7
1300 37
660 5
5500 2
519 1
194 3
1614 1
578 3
734 1
1280 3
499 1
238 7
478 5
2130 2
536 6
668 3
214 21
318 2
533 1
327 3
760 9
291 4
457 5
525 8
743 2
223 7
294 3
3800 4
556 5
1237 2
224 1
1030 4
715 1
963 2
287 3
4523 1
2700 4
317 3
1034 1
178 8
19 3
3600 3
790 5
742 3
18 18
462 3
273 3
199 4
232 6
470 39
172 8
289 5
586 3
1550 5
770 2
249 7
442 3
1205 2
193 2
655 5
2400 6
78 27
658 3
216 7
296 7
662 1
226 3
454 21
13 12
244 6
589 6
4550 1
435 9
528 2
5600 3
1185 1
8000 5
306 7
561 1
596 2
703 3
2016 1
592 2
127 4
1807 1
893 3
288 9
2129 1
558 2
4530 2
675 3
935 2
392 1
834 2
725 1
587 2
1960 1
11 7
594 3
257 6
73 7
698 3
467 3
588 3
382 2
112 12
722 1
92 6
726 1
663 1
732 2
136 12
24 16
3072 1
1724 1
4600 1
297 3
886 1
34 10
5200 1
74 4
438 4
151 2
856 3
853 2
275 26
8600 1
2350 5
2385 1
1065 1
336 4
635 1
1056 4
529 2
798 1
411 2
598 3
865 2
351 2
1860 6
3450 1
816 4
585 2
961 3
2560 2
524 4
161 3
642 6
361 3
347 6
1234 2
314 3
665 2
1150 2
1120 2
545 8
9865 1
461 2
177 1
748 1
1036 1
247 5
113 10
301 4
427 2
565 2
5016 1
814 3
329 3
51 8
1502 1
252 4
1720 3
501 1
927 1
721 2
303 4
9500 1
498 2
2620 1
1830 3
538 1
476 3
116 3
3832 1
322 6
5400 2
276 2
6300 1
15300 1
712 7
344 3
621 3
2813 1
207 3
447 2
2020 1
468 1
27 5
4230 1
389 7
328 6
674 3
1950 2
874 2
196 13
208 6
4200 2
1483 1
384 2
43 7
645 1
521 4
28 9
93 4
353 4
395 4
880 3
1193 1
678 3
1831 1
304 4
1305 1
122 3
1436 3
283 5
1510 2
1251 1
218 8
625 4
523 15
755 4
1968 1
227 2
433 3
714 5
71 5
537 1
572 1
121 4
1306 1
6800 1
807 1
463 6
237 2
407 1
1685 1
2954 1
33 9
575 1
966 1
2780 1
629 2
643 4
1890 1
8848 1
482 2
334 2
571 1
37 4
2684 1
2630 1
672 1
964 2
930 5
1942 1
3540 3
583 3
331 2
646 1
2314 1
1885 1
242 7
511 2
202 4
518 3
408 1
359 4
581 4
5050 1
652 3
786 3
584 3
723 1
948 1
517 2
3 4
870 5
735 11
184 6
606 3
77 5
6330 1
566 6
326 4
489 1
281 4
2050 2
1038 2
843 2
8500 1
7 3
701 1
104 1
1590 1
486 3
148 10
1206 1
376 1
905 1
657 2
745 2
821 1
782 3
448 2
3050 1
272 3
1380 1
171 1
2514 1
421 3
141 1
428 3
1432 1
1019 1
618 2
6854 1
527 4
2652 1
823 2
5300 1
564 2
1265 1
1840 1
815 2
41 3
201 2
3236 1
1375 3
248 5
3982 1
444 3
4310 3
402 1
903 1
686 2
469 2
47 4
308 3
339 1
638 2
479 1
187 2
496 4
129 3
684 3
906 2
2450 3
633 2
2807 1
503 1
364 4
535 1
292 1
793 3
869 1
882 3
332 3
1350 3
1710 1
229 2
756 5
974 1
3014 1
746 2
3821 1
4800 2
372 2
711 1
1630 1
169 4
2600 3
1863 1
1745 1
437 2
1114 1
789 1
10000 3
492 2
424 1
4145 1
30500 1
431 1
2670 1
118 3
1534 2
1839 1
3355 1
1274 1
1560 4
228 2
9000 3
868 1
2511 1
887 1
485 11
805 2
4520 1
1018 2
504 1
62 4
3560 1
619 1
1010 3
1444 1
131 2
1240 4
669 3
262 3
497 2
515 2
342 9
2198 1
705 2
879 1
1619 1
547 1
731 1
901 2
514 1
771 3
21 3
1060 1
965 1
2683 1
1152 1
5550 1
179 5
522 1
4660 1
910 1
552 2
639 2
506 2
1025 1
546 3
419 1
920 1
609 3
1080 1
1354 1
940 3
5560 1
990 2
7530 1
615 1
491 1
3344 1
2310 1
1420 2
753 2
624 2
2890 1
2416 1
687 1
827 2
694 1
713 1
343 1
1054 1
282 1
702 1
2345 1
934 1
279 2
436 2
1470 1
379 2
426 2
2531 1
2230 1
836 1
3241 1
451 1
31 1
1201 1
349 3
637 1
1362 1
1625 2
724 1
3750 1
403 3
508 2
2685 1
363 1
1021 1
1580 1
366 2
914 1
1555 1
2248 1
612 1
1410 1
889 2
864 1
3455 1
166 1
439 1
422 1
1742 1
704 1
443 2
733 1
4788 1
1523 1
507 1
2880 2
3411 1
1203 1
617 1
1893 1
91 2
2238 1
378 3
316 1
614 1
1032 1
3568 1
2992 1
955 1
534 2
781 3
1439 1
6302 1
763 1
2905 1
975 1
553 1
1260 2
2518 1
688 1
593 1
3031 1
311 1
1183 1
1144 1
1221 1
895 1
11463 1
1005 1
2250 3
526 1
1545 1
644 1
1340 1
3620 1
1164 1
605 1
3850 1
774 1
3589 1
936 2
866 1
697 1
2750 1
693 1
795 1
607 1
1325 1
2145 1
1363 1
417 1
681 1
765 1
582 1
985 1
1290 1
197 1
2461 1
398 1
912 1
775 1
682 1
1244 1
1090 1
2010 1
3250 1
613 1
429 1
862 1
1422 1
2570 1
4208 1
387 1
8200 1
2430 1
2569 1
541 1
845 1
976 1
788 1
lessthan50:  29
lessthan30:  40
lessthan20:  100
lessthan10:  796
****************************

In [ ]:
analyze_in_detail_unique_values_for_column(df_training_data, "management")

In [ ]:
analyze_in_detail_unique_values_for_column(df_training_data, "management_group")

In [ ]:
analyze_in_detail_unique_values_for_column(df_training_data, "extraction_type_class")

In [ ]:
del df_training_labels['id']
df_training_data, df_topredict_data = dates(df_training_data, df_topredict_data)
df_training_data, df_topredict_data = dates2(df_training_data, df_topredict_data)

In [ ]:
# impute missing construction year with median construction year
df_training_data = impute_missing_construction_year(df_training_data)
df_topredict_data = impute_missing_construction_year(df_topredict_data)

In [ ]:
# the fields public_meeting and permit are boolean, but there are many missing values (3334 in public_meeting and 3056 in permit)
# impute these missing values with FALSE
df_training_data = impute_missing_booleans(df_training_data, "public_meeting")
df_topredict_data = impute_missing_booleans(df_topredict_data, "public_meeting")

df_training_data = impute_missing_booleans(df_training_data, "permit")
df_topredict_data = impute_missing_booleans(df_topredict_data, "permit")

In [ ]:
"""
fill in the nulls for ['longitude', 'latitude', 'gps_height', 'population'] by using means from 
['subvillage', 'district_code', 'basin'], and lastly the overall mean
"""
df_training_data, df_topredict_data = locs(df_training_data, df_topredict_data)

In [ ]:
df_training_data['population'] = np.log(df_training_data['population'])
df_topredict_data['population'] = np.log(df_topredict_data['population'])

In [ ]:
# drop unwanted columns 
columns_to_drop = ['id','amount_tsh',  'num_private', 'region', 'quantity', 'quality_group', 'source_type', 'payment', 
'waterpoint_type_group', 'extraction_type_group', 'recorded_by']
df_training_data = drop_columns(df_training_data, columns_to_drop)
df_topredict_data = drop_columns(df_topredict_data, columns_to_drop)

In [ ]:
df_training_data, df_topredict_data = small_n2(df_training_data, df_topredict_data)

In [ ]:
df_training_data, df_topredict_data = lda(df_training_data, df_topredict_data, df_training_labels, cols = ['gps_height', 'latitude', 'longitude'])

In [ ]:
# One hot encode the columns that have string values
df_training_data,df_topredict_data = one_hot_encode(df_training_data, df_topredict_data)
#df_topredict_data = one_hot_encode1(df_topredict_data)

In [ ]:
len(df_training_data.columns)

In [ ]:
rf = RandomForestClassifier(criterion='gini', min_samples_split=6, n_estimators=1000, max_features='auto',
     oob_score=True, random_state=1, n_jobs=-1)
rf.fit(df_training_data, df_training_labels.values.ravel())
print ("%.4f" % rf.oob_score_)

In [ ]:
predictions = rf.predict(df_topredict_data)

In [ ]:
predictions

In [ ]:
df_predictions = pd.DataFrame(predictions)

In [ ]:
df_predictions

In [ ]:
columns = ['id','status_group']
df_submission = pd.DataFrame(columns=columns)
to_predict_features=pd.read_csv('TestSetValues.csv',parse_dates=True)
to_predict_features = to_predict_features.reset_index(drop=True)
df_predictions = df_predictions.reset_index(drop=True)
df_submission = df_submission.reset_index(drop=True)
df_submission['id'] = to_predict_features['id']
df_submission['status_group'] = df_predictions[0]

In [ ]:
df_submission.head

In [ ]:
df_submission.shape

In [ ]:
df_submission.to_csv("submission_csv_29_3_1.csv", sep=",", index = False)

In [ ]:
""""
X_train, X_test, y_train, y_test = 
    train_test_split(df_training_data, df_training_labels_num, test_size = 0.25, random_state = 42)
""""

In [ ]:
""""
features_to_consider =
    ['amount_tsh', 'gps_height', 'longitude', 'latitude', 'region_code', 'district_code', 'population', 'construction_year']
""""

In [ ]:
""""
#def run_random_forest_predictor(X_train1, y_train1, X_test1, y_test1, features_to_consider):
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
# Train the model on training data
df1 = X_train[features_to_consider]
rf.fit(df1, y_train)
predictions = rf.predict(X_test[features_to_consider])
# Calculate the absolute errors
errors = abs(predictions - y_test)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')
""""