In [1]:
# Include required libs
import os
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn import datasets
from sklearn import metrics
#from sklearn.linear_model import LogisticRegression
#from sklearn.svm import SVC
import random
from sklearn.tree import DecisionTreeClassifier
#from sklearn.ensemble import RandomForestClassifier
#from sklearn.ensemble import ExtraTreesClassifier
from sklearn import preprocessing
import scipy
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
def load_train_and_test_data():
    train_features=pd.read_csv('TrainingSetValues.csv',parse_dates=True)
    train_labels=pd.read_csv('TrainingSetLabels.csv')
    to_predict_features=pd.read_csv('TestSetValues.csv',parse_dates=True)
    
    # merge training features and labels
    #training_data = pd.merge(train_features, train_labels, how='inner', on=['id'])
    
    return train_features, train_labels, to_predict_features

In [3]:
df_training_data, df_training_labels, df_topredict_data = load_train_and_test_data()

In [4]:
# Convert string labels to numerics
#label_map = {"functional": 1, "functional needs repair": 2, "non functional": 3}
#df_training_data['status_group_num']= df_training_data['status_group'].map(label_map).astype(int)

# do sanity check
#df_training_data[['id', 'amount_tsh', 'status_group', 'status_group_num']].head(25)

In [5]:
# save the training labels into a df
#df_training_labels_str = df_training_data['status_group']
#df_training_labels_num = np.array(df_training_data['status_group_num'])

In [6]:
# drop the training labels from the training set
#df_training_data= df_training_data.drop('status_group', axis = 1)
#df_training_data= df_training_data.drop('status_group_num', axis = 1)

In [7]:
print("*****************************************\nBrief Stats of each column\n*****************************************")
print(df_training_data.describe())

#getting number of nonzeros in each column
print("\n*****************************************\nnumber of nonzeros in each column\n*****************************************")
print(df_training_data.astype(bool).sum(axis=0))

# getting no. of nulls in each column
print("\n*****************************************\nno. of nulls in each column\n*****************************************")
print(df_training_data.isnull().sum())

*****************************************
Brief Stats of each column
*****************************************
                 id     amount_tsh    gps_height     longitude      latitude  \
count  59400.000000   59400.000000  59400.000000  59400.000000  5.940000e+04
mean   37115.131768     317.650385    668.297239     34.077427 -5.706033e+00
std    21453.128371    2997.574558    693.116350      6.567432  2.946019e+00
min        0.000000       0.000000    -90.000000      0.000000 -1.164944e+01
25%    18519.750000       0.000000      0.000000     33.090347 -8.540621e+00
50%    37061.500000       0.000000    369.000000     34.908743 -5.021597e+00
75%    55656.500000      20.000000   1319.250000     37.178387 -3.326156e+00
max    74247.000000  350000.000000   2770.000000     40.345193 -2.000000e-08

        num_private   region_code  district_code    population  \
count  59400.000000  59400.000000   59400.000000  59400.000000
mean       0.474141     15.297003       5.629747    179.909983
std       12.236230     17.587406       9.633649    471.482176
min        0.000000      1.000000       0.000000      0.000000
25%        0.000000      5.000000       2.000000      0.000000
50%        0.000000     12.000000       3.000000     25.000000
75%        0.000000     17.000000       5.000000    215.000000
max     1776.000000     99.000000      80.000000  30500.000000

       construction_year
count       59400.000000
mean         1300.652475
std           951.620547
min             0.000000
25%             0.000000
50%          1986.000000
75%          2004.000000
max          2013.000000

*****************************************
number of nonzeros in each column
*****************************************
id                       59399
amount_tsh               17761
date_recorded            59400
funder                   59400
gps_height               38962
installer                59400
longitude                57588
latitude                 59400
wpt_name                 59400
num_private                757
basin                    59400
subvillage               59400
region                   59400
region_code              59400
district_code            59377
lga                      59400
ward                     59400
population               38019
public_meeting           54345
recorded_by              59400
scheme_management        59400
scheme_name              59400
permit                   41908
construction_year        38691
extraction_type          59400
extraction_type_group    59400
extraction_type_class    59400
management               59400
management_group         59400
payment                  59400
payment_type             59400
water_quality            59400
quality_group            59400
quantity                 59400
quantity_group           59400
source                   59400
source_type              59400
source_class             59400
waterpoint_type          59400
waterpoint_type_group    59400
dtype: int64

*****************************************
no. of nulls in each column
*****************************************
id                           0
amount_tsh                   0
date_recorded                0
funder                    3635
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
dtype: int64

In [8]:
# impute median values for 0 amount_tsh
def impute_missing_amount_tsh(df):
    df.amount_tsh[df.amount_tsh <= 0] = np.median(df.amount_tsh[df.amount_tsh > 0])
    return df

In [9]:
# impute median values for 0 gps height
def impute_missing_gps_height(df):
    df.gps_height[df.gps_height <= 0] = np.median(df.gps_height[df.gps_height > 0])
    return df

In [10]:
# impute median values for 0 population
def impute_missing_population(df):
    df.population[df.population <= 0] = np.median(df.population[df.population > 0])
    return df

In [11]:
# impute median values for construction year
def impute_missing_construction_year(df):
    df.construction_year[df.construction_year <= 0] = np.median(df.construction_year[df.construction_year > 0])
    return df

In [ ]:
# impute missing booleans with false and convert each value to float or integer
def impute_missing_booleans(df, colname):
    df[colname].fillna(False, inplace = True)
    df[colname] = df[colname].apply(lambda x: float(x))
    return df

In [ ]:
def dates(X_train, X_test):
    """
    date_recorded: this might be a useful variable for this analysis, although the year itself would be useless in a practical scenario moving into the future. We will convert this column into a datetime, and we will also create 'year_recorded' and 'month_recorded' columns just in case those levels prove to be useful. A visual inspection of both casts significant doubt on that possibility, but we'll proceed for now. We will delete date_recorded itself, since random forest cannot accept datetime
    """
    for i in [X_train, X_test]:
        i['date_recorded'] = pd.to_datetime(i['date_recorded'])
        i['year_recorded'] = i['date_recorded'].apply(lambda x: x.year)
        i['month_recorded'] = i['date_recorded'].apply(lambda x: x.month)
        i['date_recorded'] = (pd.to_datetime(i['date_recorded'])).apply(lambda x: x.toordinal())
    return X_train, X_test

In [ ]:
def dates2(X_train, X_test):
    """
    Turn year_recorded and month_recorded into dummy variables
    """
    for z in ['month_recorded', 'year_recorded']:
        X_train[z] = X_train[z].apply(lambda x: str(x))
        X_test[z] = X_test[z].apply(lambda x: str(x))
        good_cols = [z+'_'+i for i in X_train[z].unique() if i in X_test[z].unique()]
        X_train = pd.concat((X_train, pd.get_dummies(X_train[z], prefix = z)[good_cols]), axis = 1)
        X_test = pd.concat((X_test, pd.get_dummies(X_test[z], prefix = z)[good_cols]), axis = 1)
        del X_test[z]
        del X_train[z]
    return X_train, X_test

In [ ]:
def locs(X_train, X_test):
    """
    fill in the nulls for ['longitude', 'latitude', 'gps_height', 'population'] by using means from 
    ['subvillage', 'district_code', 'basin'], and lastly the overall mean
    """
    trans = ['longitude', 'latitude', 'gps_height', 'population']
    for i in [X_train, X_test]:
        i.loc[i.longitude == 0, 'latitude'] = 0
    for z in trans:
        for i in [X_train, X_test]:
            i[z].replace(0., np.NaN, inplace = True)
            i[z].replace(1., np.NaN, inplace = True)
        
        for j in ['subvillage', 'district_code', 'basin']:
        
            X_train['mean'] = X_train.groupby([j])[z].transform('mean')
            X_train[z] = X_train[z].fillna(X_train['mean'])
            o = X_train.groupby([j])[z].mean()
            fill = pd.merge(X_test, pd.DataFrame(o), left_on=[j], right_index=True, how='left').iloc[:,-1]
            X_test[z] = X_test[z].fillna(fill)
        
        X_train[z] = X_train[z].fillna(X_train[z].mean())
        X_test[z] = X_test[z].fillna(X_train[z].mean())
        del X_train['mean']
    return X_train, X_test

In [ ]:
def remove_unwanted_columns(X_train, X_test):
    """
    Here we define all the columns that we want to delete right off the bat.
    # id: we drop the id column because it is not a useful predictor.
    # 'amount_tsh' is mostly blank - delete
    # wpt_name: not useful, delete (too many values)
    # subvillage: too many values, delete
    # scheme_name: this is almost 50% nulls, so we will delete this column
    # num_private: we will delete this column because ~99% of the values are zeros.
    # region: drop this b/c is seems very similar to region_code, though not 100% sure about this one!
    """
    z = ['id','amount_tsh',  'num_private', 'region', 
          'quantity', 'quality_group', 'source_type', 'payment', 
          'waterpoint_type_group',
         'extraction_type_group']
    for i in z:
        del X_train[i]
        del X_test[i]
    return X_train, X_test

In [ ]:
def gini(p):
    return 1-(p**2 + (1-p)**2)

In [ ]:
def small_n2(X_train, X_test):
    cols = [i for i in X_train.columns if type(X_train[i].iloc[0]) == str]
    X_train[cols] = X_train[cols].where(X_train[cols].apply(lambda x: x.map(x.value_counts())) > 100, "other")
    for column in cols:
        for i in X_test[column].unique():
            if i not in X_train[column].unique():
                X_test[column].replace(i, 'other', inplace=True)
    return X_train, X_test

In [ ]:
def lda(X_train, X_test, y_train, cols=['population', 'gps_height', 'latitude', 'longitude']):
    sc = StandardScaler()
    X_train_std = sc.fit_transform(X_train[cols])
    X_test_std = sc.transform(X_test[cols])
    lda = LDA(n_components=None)
    X_train_lda = lda.fit_transform(X_train_std, y_train.values.ravel())
    X_test_lda = lda.transform(X_test_std)
    X_train = pd.concat((pd.DataFrame(X_train_lda), X_train), axis=1)
    X_test = pd.concat((pd.DataFrame(X_test_lda), X_test), axis=1)
    for i in cols:
        del X_train[i]
        del X_test[i]
    return X_train, X_test

In [ ]:
def one_hot_encode(X_train, X_test):
    columns = [i for i in X_train.columns if type(X_train[i].iloc[0]) == str]
    for column in columns:
        X_train[column].fillna('NULL', inplace = True)
        good_cols = [column+'_'+i for i in X_train[column].unique() if i in X_test[column].unique()]
        X_train = pd.concat((X_train, pd.get_dummies(X_train[column], prefix = column)[good_cols]), axis = 1)
        X_test = pd.concat((X_test, pd.get_dummies(X_test[column], prefix = column)[good_cols]), axis = 1)
        del X_train[column]
        del X_test[column]
    return X_train, X_test

In [31]:
def analyze_unique_values_for_column(df, colname):
    unique_col_vals = df[colname].unique()
    tmp_str = "Unique " + colname + "s:"
    print("****************************")
    print(tmp_str, unique_col_vals.size)
    print("****************************")
#    lessthan10 = 0
#    lessthan20 = 0
#    lessthan30 = 0
#    lessthan50 = 0
#    lessthan100 = 0
#    for val in unique_col_vals:
#        cnt = df[df[colname] == val][colname].count()
#        #print(val, cnt) # uncomment this line if you want to see the count of each colname-value
#        if(cnt < 10):
#            lessthan10 +=1        
#        elif(cnt < 20):
#            lessthan20 +=1
#        elif(cnt < 30):
#            lessthan30 +=1
#        elif(cnt < 50):
#            lessthan50 +=1
#
#    print("lessthan50: ", lessthan50 )
#    print("lessthan30: ", lessthan30 )
#    print("lessthan20: ", lessthan20 )
#    print("lessthan10: ", lessthan10 )
#    print("****************************")

In [34]:
analyze_unique_values_for_column(df_training_data, "funder")
analyze_unique_values_for_column(df_training_data, "installer")
analyze_unique_values_for_column(df_training_data, "wpt_name")
analyze_unique_values_for_column(df_training_data, "basin")
analyze_unique_values_for_column(df_training_data, "subvillage")
analyze_unique_values_for_column(df_training_data, "region")
analyze_unique_values_for_column(df_training_data, "region_code")
analyze_unique_values_for_column(df_training_data, "district_code")
analyze_unique_values_for_column(df_training_data, "lga")
analyze_unique_values_for_column(df_training_data, "ward")
analyze_unique_values_for_column(df_training_data, "recorded_by")
analyze_unique_values_for_column(df_training_data, "scheme_management")
analyze_unique_values_for_column(df_training_data, "scheme_name")
analyze_unique_values_for_column(df_training_data, "extraction_type")
analyze_unique_values_for_column(df_training_data, "extraction_type_group")
analyze_unique_values_for_column(df_training_data, "extraction_type_class")
analyze_unique_values_for_column(df_training_data, "management")
analyze_unique_values_for_column(df_training_data, "management_group")
analyze_unique_values_for_column(df_training_data, "management_group")
analyze_unique_values_for_column(df_training_data, "payment")
analyze_unique_values_for_column(df_training_data, "payment_type")
analyze_unique_values_for_column(df_training_data, "management_group")
analyze_unique_values_for_column(df_training_data, "water_quality")
analyze_unique_values_for_column(df_training_data, "quality_group")
analyze_unique_values_for_column(df_training_data, "quantity")
analyze_unique_values_for_column(df_training_data, "quantity_group")
analyze_unique_values_for_column(df_training_data, "source")
analyze_unique_values_for_column(df_training_data, "source_type")
analyze_unique_values_for_column(df_training_data, "source_class")
analyze_unique_values_for_column(df_training_data, "source_class")
analyze_unique_values_for_column(df_training_data, "waterpoint_type")
analyze_unique_values_for_column(df_training_data, "waterpoint_type_group")

****************************
Unique funders: 1898
****************************
****************************
Unique installers: 2146
****************************
****************************
Unique wpt_names: 37400
****************************
****************************
Unique basins: 9
****************************
****************************
Unique subvillages: 19288
****************************
****************************
Unique regions: 21
****************************
****************************
Unique region_codes: 27
****************************
****************************
Unique lgas: 125
****************************
****************************
Unique wards: 2092
****************************
****************************
Unique recorded_bys: 1
****************************
****************************
Unique scheme_managements: 13
****************************
****************************
Unique scheme_names: 2697
****************************
****************************
Unique extraction_types: 18
****************************
****************************
Unique extraction_type_groups: 13
****************************
****************************
Unique extraction_type_classs: 7
****************************
****************************
Unique managements: 12
****************************
****************************
Unique management_groups: 5
****************************
****************************
Unique management_groups: 5
****************************
****************************
Unique payments: 7
****************************
****************************
Unique payment_types: 7
****************************
****************************
Unique management_groups: 5
****************************
****************************
Unique water_qualitys: 8
****************************
****************************
Unique quality_groups: 6
****************************
****************************
Unique quantitys: 5
****************************
****************************
Unique quantity_groups: 5
****************************
****************************
Unique sources: 10
****************************
****************************
Unique source_types: 7
****************************
****************************
Unique source_classs: 3
****************************
****************************
Unique source_classs: 3
****************************
****************************
Unique waterpoint_types: 7
****************************
****************************
Unique waterpoint_type_groups: 6
****************************

In [71]:
def analyze_in_detail_unique_values_for_column(df, colname):
    unique_col_vals = df[colname].unique()
    tmp_str = "Unique " + colname + "s:"
    print("****************************")
    print(tmp_str, unique_col_vals.size)
    print("****************************")
    lessthan10 = 0
    lessthan20 = 0
    lessthan30 = 0
    lessthan50 = 0
    lessthan100 = 0
    for val in unique_col_vals:
        cnt = df[df[colname] == val][colname].count()
        print(val, cnt) # uncomment this line if you want to see the count of each colname-value
        if(cnt < 10):
            lessthan10 +=1        
        elif(cnt < 20):
            lessthan20 +=1
        elif(cnt < 30):
            lessthan30 +=1
        elif(cnt < 50):
            lessthan50 +=1

    print("lessthan50: ", lessthan50 )
    print("lessthan30: ", lessthan30 )
    print("lessthan20: ", lessthan20 )
    print("lessthan10: ", lessthan10 )
    print("****************************")

In [76]:
analyze_in_detail_unique_values_for_column(df_training_data, "management")

****************************
Unique managements: 12
****************************
vwc 40507
wug 6515
other 844
private operator 1971
water board 2933
wua 2535
company 685
water authority 904
parastatal 1768
unknown 561
other - school 99
trust 78
lessthan50:  0
lessthan30:  0
lessthan20:  0
lessthan10:  0
****************************

In [77]:
analyze_in_detail_unique_values_for_column(df_training_data, "management_group")

****************************
Unique management_groups: 5
****************************
user-group 52490
other 943
commercial 3638
parastatal 1768
unknown 561
lessthan50:  0
lessthan30:  0
lessthan20:  0
lessthan10:  0
****************************

In [47]:
analyze_in_detail_unique_values_for_column(df_training_data, "extraction_type_class")

****************************
Unique source_classs: 3
****************************
groundwater 45794
surface 13328
unknown 278
lessthan50:  0
lessthan30:  0
lessthan20:  0
lessthan10:  0
****************************

In [ ]:
del df_training_labels['id']
df_training_data, df_topredict_data = dates(df_training_data, df_topredict_data)
df_training_data, df_topredict_data = dates2(df_training_data, df_topredict_data)

In [ ]:
# impute missing construction year with median construction year
df_training_data = impute_missing_construction_year(df_training_data)
df_topredict_data = impute_missing_construction_year(df_topredict_data)

In [ ]:
# the fields public_meeting and permit are boolean, but there are many missing values (3334 in public_meeting and 3056 in permit)
# impute these missing values with FALSE
df_training_data = impute_missing_booleans(df_training_data, "public_meeting")
df_topredict_data = impute_missing_booleans(df_topredict_data, "public_meeting")

df_training_data = impute_missing_booleans(df_training_data, "permit")
df_topredict_data = impute_missing_booleans(df_topredict_data, "permit")

In [ ]:
"""
fill in the nulls for ['longitude', 'latitude', 'gps_height', 'population'] by using means from 
['subvillage', 'district_code', 'basin'], and lastly the overall mean
"""
df_training_data, df_topredict_data = locs(df_training_data, df_topredict_data)

In [ ]:
df_training_data['population'] = np.log(df_training_data['population'])
df_topredict_data['population'] = np.log(df_topredict_data['population'])

In [ ]:
df_training_data, df_topredict_data = remove_unwanted_columns(df_training_data, df_topredict_data)

In [ ]:
df_training_data, df_topredict_data = small_n2(df_training_data, df_topredict_data)

In [ ]:
df_training_data, df_topredict_data = lda(df_training_data, df_topredict_data, df_training_labels, cols = ['gps_height', 'latitude', 'longitude'])

In [ ]:
df_training_data, df_topredict_data = one_hot_encode(df_training_data, df_topredict_data)

In [ ]:
len(df_training_data.columns)

In [ ]:
print(df_training_data.year)

In [ ]:
rf = RandomForestClassifier(criterion='gini',
                                min_samples_split=6,
                                n_estimators=1000,
                                max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)
                            
rf.fit(df_training_data, df_training_labels.values.ravel())
print ("%.4f" % rf.oob_score_)

In [ ]:
predictions = rf.predict(df_topredict_data)

In [ ]:
type(predictions)
ydf = pd.DataFrame(predictions)
#ydf.head
ydf1[]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df_training_data, df_training_labels_num, test_size = 0.25, random_state = 42)

In [ ]:
features_to_consider = ['amount_tsh', 'gps_height', 'longitude', 'latitude', 'region_code', 'district_code', 'population', 'construction_year']

In [ ]:
#def run_random_forest_predictor(X_train1, y_train1, X_test1, y_test1, features_to_consider):
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
# Train the model on training data
df1 = X_train[features_to_consider]
rf.fit(df1, y_train)
predictions = rf.predict(X_test[features_to_consider])
# Calculate the absolute errors
errors = abs(predictions - y_test)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')